<h1>BMI Results</h1>
<h3>Your username is <kbd><%= username%></kbd></h3>
<hr>
<div class="alert alert-success">
    <strong>Success!</strong> Your BMI is generated!
</div>
<p style="font-size: 20px">Your BMI is <strong><%= BMI%></strong>
<a href="/addBMI/<%= BMI%>">Add to records</a></p>
<br>
<br>
<p style="font-size: 20px">Record what you have eaten today.</p>
<hr>
<img 
    src = http://travelingandliving.com/wp-content/uploads/2020/09/BMI.png
    width="700">
    