<div style="display: flex;margin-top: 50px;">
    <% for (food of foods){ %>
      <div style="flex: 1;padding: 10px 10px 20px 10px;">
    <h2 style="text-align: center;"><%=food.title%></h2>
  <img src="<%=food.image%>" style="width: 500px;height: 334px;" />
  <h3 style="text-align: center;"><%=food.calorie%></h3>
    </div>
    <% } %>
  </div>