<h1 class="bg-info" style="font-family: Chalkboard">Welcome to Aaron's app, <%= username %></h1>
<hr>
<h2>Health Recommender</h2>
<hr>
<p style="font-size: 20px">Body mass index (<strong>BMI</strong>) is a value derived from the mass (weight) and height of a person. 
    The BMI is defined as the body mass divided by the square of the body height, 
    and is expressed in units of kg/m2, resulting from mass in kilograms and height in metres.</p>
<center><img
    src = https://images.everydayhealth.com/homepage/health-topics-2.jpg?sfvrsn=757370ae_2
    width="400">
</center>
<hr>
<a href="/bmi" class="btn btn-info" role="button">Go to BMI Calculator</a>
<br>
