<h1>Records</h1>
<ul>
    <% for (bmi of BMI){%>
        <li>
            Name: <%= bmi.userId.username %>
            <br>  
            BMI:    <%= bmi.bmi %>
            <br>
            Date Recorded: <%= bmi.recordedAt %>
            <a href="/deleteBMI/<%= bmi._id %>"> delete</a>
        </li>
    <% } %>
</ul>